@charset "UTF-8";
/* CSS Document */






body{
	background-color:#E7FEFF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

h1{
	text-align: center;
	color: #002805;
	font-size: 100px;
	margin-bottom: 15px;
	
}

#gallery{
	width: 2004px;
	height: 500px;
	border: 5px solid #352001;
	margin: 0 auto;
	border-style: outset;
}

h2{
	text-align: center;
	color: #002805;
	font-size: 35px;
	margin-left: 1020;
}


